<h1>Profile</h1>
<div class='flex_div'>


  <div class="sub-container-2">
      <img class="avatar-large" alt="avatar-bordered" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyXdrnKJ-RzQAk5KfzDiLsDtGuWHu9WouvaA&usqp=CAU" />

        <%= current_user.name %>
        <%= current_user.address %>
        <%= current_user.email %>

  </div>

  <div class='  '>

    <div class="sub-container-2">
      <h3>Bookings</h3>

      <% if @bookings.exists? %>

        <%  @bookings.each do |booking| %>
          <%= booking.car.brand %>
          <%= booking.car.description %>
          <%= booking.car.price %>
          <%= booking.start_time %>
          <%= booking.end_time %>
          <%= booking.total_price %>
        <% end %>

       <% else %>
        <%= link_to "Would you like to book a car?", new_car_path %>
      <% end %>
    </div>

  </div>

  <div class="sub-container-2">
    <h3>Listings</h3>

    <% if @cars.exists? %>
      <% @cars.each do |car|  %>
        <%= car.brand %>
        <%= car.description %>
        <%= car.price %>
      <% end %>

    <% end %>

  </div>



</div>
