  <div class="profile-container">
    <div class="profile-color">
      <img style="" />
      <img class="user-pic avatar-large" alt="avatar-bordered" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyXdrnKJ-RzQAk5KfzDiLsDtGuWHu9WouvaA&usqp=CAU" />
    </div>
      <p> <%= current_user.name %> </p>
      <p> <%= current_user.address %> </p>
  </div>
<div class="profile-main-container">



        <div class='mr-5'>
        <h3>Listings</h3>
        <div class="profile-listings">

          <% if @cars.exists? %>
            <% @cars.each do |car|  %>
            <div class="card-trip my_car mt-2">
              <% if car.photos.attached? %>
                <%= cl_image_tag car.photos.first.key%>
              <% end  %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= link_to car.brand, car_path(car.id) %></h2>
                </div>
              </div>
            </div>
            <% end %>
            <% else %>
              <%= link_to "Add a car", new_car_path, class:"btn btn-primary"  %>
          <% end %>
        </div>
      </div>
      <div>
        <h3>Bookings</h3>
        <div class="profile-bookings">
          <% if @bookings.exists? %>
            <%  @bookings.each do |booking| %>
            <ul>
              <li><%= booking.car.brand %></li>
              <li><%= booking.start_time %></li>
              <li><%= booking.end_time %></li>
              <li><%= booking.total_price %></li>
            </ul>
            <% end %>

           <% else %>
            <%= link_to "Looking for cars", cars_path, class:"btn btn-primary"  %>
          <% end %>
        </div>
      </div>
      </div>
</div>

