
<% @cars.each do |car|%>
  <%= link_to car.brand, car_path(car.id) %>
  <%= car.description %>
  <%= car.price %>
  <%= car.address %>
<% end  %>

<%= link_to "add new car", new_car_path %>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
