<h1 class='text-center'>Cars available</h1>
<div class='flex_div'>
  <div>
    <div class='cards mr-3'>
      <% @cars.each do |car|%>

        <div class="card-trip">
          <% if car.photos.attached? %>
            <%= cl_image_tag car.photos.first.key%>
          <% end  %>
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to car.brand, car_path(car.id) %></h2>
              <p><%= car.description %></p>
              <p><%= car.address %></p>
            </div>
            <h2 class="card-trip-pricing"><%= car.price %></h2>
          </div>
      </div>
      <% end  %>
  </div>
    <%= link_to "add new car", new_car_path %>
  </div>



  <div id="map"
     style="width: 65%; height: auto;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>



