<div class="form-new-car">
  <h1>Add new car</h1>
  <%= simple_form_for @car do |f| %>
    <%= f.input :brand %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :address %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</div>
