<div class="container mt-6" style="background-color: white;">
  <div class="show-image-container w-100">
    <div id="carouselExampleControls" class="carousel slide w-100" data-ride="carousel">

      <div class="carousel-inner w-100">
        <% @car.photos.each.with_index do |photo, index| %>
          <div class="carousel-item <%= index == 0 ? "active" : " " %>">
            <%= cl_image_tag photo.key, class: "d-block carousel-img" %>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon btn-red" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon btn-red" aria-hidden="true"></span>
      </a>
    </div>
  </div>
  <div class="show-container">

      <div class="sub-container">
        <div class="brand">
          <h3> <%= @car.brand %> </h3>
          <p>  <%= @car.description %> </p>
        </div>

        <div class="show-description">
          <p> <%= image_tag 'parking.webp', class:"icons" %> Free parking in city center </p>
          <p> <%= image_tag 'petrol.webp', class:"icons" %> Refurbish at gas stantion </p>
          <p> <%= image_tag 'sensors.webp', class:"icons" %> Parking alerts with sensors </p>
          <p> <%= image_tag 'smoking.webp', class:"icons" %> No smoking in the car </p>

        </div>
      </div>
      <div class="sub-container-2">
        <div class="star-flex">
          <p> <strong><%= @car.price %>€/day </strong> </p>
          <p> <i class="fas fa-star"></i> 4.4(44)</p>
        </div>
        <p> <%= link_to "Reserve", new_car_booking_path(@car), class:"btn btn-reserve" %> </p>
      </div>

    </div>
    <%= link_to "Home page", root_path, class: "btn btn-primary mt-3" %>
  </div>
</div>
